.about-d-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.652)), url("https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
  }
.about-i-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.207), rgb(0, 0, 0)), url("https://images.unsplash.com/photo-1568234928966-359c35dd8327?ixlib=rb-1.2.1&auto=format&fit=crop&w=1399&q=80");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: cover;
}  
.about-v-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.207), rgba(0, 0, 0, 0.652)), url("https://images.pexels.com/photos/2599538/pexels-photo-2599538.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
  }  

