@import 'variables';

.chiffre {
  display: flex;
  align-items: center;
  transition: .5s all ease-in-out;
  transform-origin: bottom right;
}
.chiffre:hover {
  box-shadow: 0px 2px 0px 0px $light; 
  transform: translateY(-5px);
}
.chiffre > h2 {
  padding-bottom: 1rem;
  border-bottom: .3rem solid $mysyscolor1;
  letter-spacing: -2px !important;
}