@import 'variables';


.modal-content {
  border: none !important;
  border-radius: 0rem !important;
}
.modal-header {
  border: none !important;
  border-radius: 0rem !important;
  background: $mysyscolor1 !important; color:$light !important;
  display: flex;
  justify-content: center !important;
}
.modal-footer {
  border: none !important;
  border-radius: 0rem !important;
}