@import './variables';

.bg_jumbo {
  background-image:linear-gradient(rgba(0, 0, 0, 0.186), rgba(0, 0, 0, 0.775)), url("https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
} 
.bg_jumbo_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.576), rgba(0, 0, 0, 0.302)), url("https://images.unsplash.com/photo-1578070181910-f1e514afdd08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1404&q=80");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
}
.j-card {
  display: flex;
  min-width: 5rem !important; max-width: 15rem !important;
  border-radius: .1rem !important;
  @extend .border-outline-0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .j-card {
    flex: 1 0 100% !important;
    min-width: 5rem !important; max-width: 100% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .j-card {
    flex: 1 0 50% !important;
    min-width: 5rem !important; max-width: 100% !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .j-card { flex: 1 0 20% !important; }
}
@media only screen and (min-width: 923px) and (max-width: 1024px) {
  .j-card { flex: 1 0 25% !important; }
}


