@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&Comfortaa:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'variables';


.service {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center !important;
  background-color: $mysyscolor1;
  color: $light;
  height: 35rem;
}
.service .service-img {
  position: relative;
  height: 100%; width: 100%;
  object-fit: cover;
  border-radius: .2rem;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .s-card { flex: 1 0 100% !important; }
  .service {
    flex-wrap: wrap-reverse;
    align-self: center;
  }
  .service .service-img {
    display: inline-flex;
    height: 100%; width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .s-card { flex: 1 0 33.33% !important; }
  .service {
    flex-wrap: wrap-reverse;
    align-self: center;
  }
  .service .service-img {
    display: inline-flex;
    height: 100%; width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .s-card { flex: 1 0 20% !important; }
  .service {
    flex-wrap: wrap-reverse;
    align-self: center;
  }
  .service .service-img {
    display: inline-flex;
    height: 100%; width: 100%;
  }
}
@media only screen and (min-width: 923px) and (max-width: 1024px) {
  .s-card { flex: 1 0 25% !important; }
}